.home{
    color: red;
}

.myNavbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #1abc9c;
}

.navContainer{
    width: 100%;
    max-width: 1293px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.itemContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navItem{
    text-decoration: none;
    list-style: none;
    padding: 5px;
    font-family: "Noto Sans";
    font-size: 12px;
}

.link{
    text-decoration: none;
    color: black;
}

.container{
    margin-top: 10px;
    font-family: "Roboto";
    height: 700px;
}

.navBrand{
    font-family: "Noto Sans";
    font-size: 15px;
    /* font-weight: 300; */
    letter-spacing: 3px;
}

.mainHeading{
    font-family: "Roboto";
}


.myCard{
    background-color: #f2fbf9;
}

.newsLetterMC{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1abc9c;
    padding: 40px;
    margin-top: 50px;
}
.newsLetterSC{
    width: 100%;
    max-width: 1293px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nlHeading{
    font-family: "Roboto";
    font-size: 25px;
    margin-bottom: 15px;
    color: white;
}
.Footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-family: "Roboto";
    font-size: 12px;
}

.nlForm{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nlInput{
    border: none;
    border-radius: 5px;
    padding: 7px;
    margin-right: 5px;
    width: 300px;
}

.gitUserName{
    color: #1abc9c;
    text-decoration: none;
    font-weight: 500;
}

.logoLink{
    text-decoration: none;
    color: black;   
}